ui.admincp_list {
    padding: 0;
    margin: 0;
    list-style: none;
}
ui.admincp_list li {
    float: left;
    margin: 5px;
}
.clear {
    clear: both;
}
h3.title_admin {
    text-align: center;
    font-size: 40px;
    color: blue;
}
.wrapper{
    border: 1px solid #000;
    height: 700px;
    width: 90%;
    margin:0 auto ;
   }